  {% load crispy_forms_tags %}
  {%load static%}

  <!DOCTYPE html>
  <html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<title>Facebook-Search</title>
  </head>
  <body style="background-color: #DDDDE6;">
  	<nav class="navbar navbar-expand-lg" style="background-color: #211CA8;">
    <h1 class="navbar-brand text-light"><b>facebook</b></h1>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " style="">
          <a class="nav-link" href="{%url 'home'%}" style="color:white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'view_friends'%}" style="color:white;">Friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'your_posts'%}" style="color:white;">Your Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'view_requests'%}" style="color:white;">View Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active bg-light" href="{%url 'search'%}" style="color:#211CA8;border-radius:4px;">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'logout'%}" style="color:white;">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}

        {{form|crispy}}}
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
      </form>
      <img src="{{user.profile_picture.url}}" style="width:45px;height:45px;border-radius:30px;margin-left: 20px" onclick="window.location.href='{% url 'view_user_profile' user.email%}'" />
    </div>
  </nav>
  <h2 class="text-center">Search Results</h2>
  {%for user in users%}
  <div class="card" style="width: 30rem; margin-left:30%;margin-top: 2%;margin-bottom: 2%;">
    <img class="card-img-top" src="{{user.profile_picture.url}}" alt="Image not found" style="height: 25rem;">
    <div class="card-body">
      <p class="card-text"><b>{{user.name}}</b></p>
      <div style="margin-left: 25%;">
        <button class="btn" style="color:white; background-color:#211CA8;"onclick="window.location.href='{% url 'view_profile' user.email%}'">View Profile</button>
      <button class="btn" style="color:white; background-color:#211CA8;" onclick="window.location.href='{% url 'add_friend' user.email%}'">Add Friend</button>
      </div>
      
    </div>
  </div>
  {%endfor%}
  </body>

  </html>